{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros-protocol.html" import billboard, card, feature_card with context %}

{% extends "base-protocol-mozilla.html" %}

{% add_lang_files "mozorg/about-2019" %}

{% block page_title %}{{ _('Learn About Mozilla') }}{% endblock %}

{% block page_desc %}
  {{ _('Mozilla makes browsers, apps, code and tools that put people before profit. Our mission: Keep the internet open and accessible to all.') }}
{% endblock %}

{% block body_id %}about{% endblock %}

{% block experiments %}
  {% if switch('experiment_about_page_performance') %}
    {{ js_bundle('experiment-about-page-performance') }}
  {% endif %}
{% endblock %}

{% block page_css %}
  {{ css_bundle('about-en') }}
{% endblock %}

{% block content %}
<section class="mzp-c-hero t-mission" {% if variant %}data-variant="{{ variant }}"{% endif%}>
  <div class="mzp-l-content">
    <div class="mzp-c-hero-body">
      <h1 class="mzp-c-hero-title">{{ _('Mozilla makes browsers, apps, code and tools that put people before profit.') }}</h1>

      <div class="mzp-c-hero-desc">
        <p>{{ _('Our mission: Keep the internet open and accessible to all.') }}</p>
      </div>

      <p class="mzp-c-hero-cta">
        <a id="read-mission-button" class="mzp-c-button" href="{{ url('mozorg.mission') }}" data-link-name="Read Our Mission" data-link-type="button" data-cta-position="primary cta">{{ _('Read Our Mission') }}</a>
      </p>
    </div>
  </div>
</section>

<div class="t-shade">
  <div class="mzp-l-content">
    <h1 class="c-page-title">{{ _('Our Mission in Action') }}</h1>
    <div class="mzp-l-card-half">
      {{ card(
          class='mzp-c-card-medium',
          title=_('Pioneers of The Open Web'),
          ga_title='Pioneers of The Open Web',
          desc=_('Our leadership has been at the forefront of building a healthier internet since Day 1. What began as an alternative to corporate domination has grown into a global force for good online.'),
          image_url='mozorg/about/leaders.jpg',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-3-2',
          link_url=url('mozorg.about.leadership')
      )}}
      {{ card(
          class='mzp-c-card-medium',
          title=_('Firefox: Fast for Good'),
          ga_title='Firefox: Fast for Good',
          desc=_('When you use the new Firefox, you get a blazing fast experience while supporting Mozilla’s mission to keep the internet healthy, weird and welcoming to all.'),
          image_url='mozorg/about/firefox.jpg',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-3-2',
          link_url=url('firefox')
      )}}
      {{ card(
          class='mzp-c-card-medium',
          title=_('Walking Our Privacy Talk'),
          ga_title='Walking Our Privacy Talk',
          desc=_('When the Facebook breach was revealed, Mozilla had an immediate response – and a Firefox product to support user privacy.'),
          image_url='mozorg/about/container.jpg',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-3-2',
          link_url='https://blog.mozilla.org/Internetcitizen/2018/06/06/the-today-show-mozilla-firefox-facebook-container/'
      )}}
      {{ card(
          class='mzp-c-card-medium',
          title=_('Talking Internet Issues IRL'),
          ga_title='Talking Internet Issues IRL',
          desc=_('In Mozilla’s IRL podcast, host Manoush Zomorodi shares real stories of life online and real talk about the future of the Web.'),
          image_url='mozorg/about/irl.jpg',
          include_highres_image=True,
          aspect_ratio='mzp-has-aspect-3-2',
          link_url='https://irlpodcast.org/'
      )}}
    </div>
  </div>
</div>
<div class="mzp-l-content">
  {% call feature_card(
      title=_('Corporation. Foundation. Not-for-profit.'),
      ga_title='Corporation. Foundation. Not-for-profit.',
      link_cta=_('Learn about the Mozilla Foundation'),
      link_url='https://foundation.mozilla.org/',
      image_url='mozorg/about/foundation.jpg',
      include_highres_image=True,
      aspect_ratio='mzp-has-aspect-3-2',
      class='mzp-l-card-feature-left-half t-foundation'
  ) %}
    <p>{{ _('Mozilla puts people over profit in everything we say, build and do. In fact, there’s a non-profit Foundation at the heart of our enterprise.') }}</p>
  {% endcall %}

  {{ billboard(
      title=_('The Mozilla Manifesto'),
      ga_title='The Mozilla Manifesto',
      desc=_('The principles we wrote in 1998 still guide us today. And in 2018, we created an addendum to emphasize inclusion, privacy and safety for everyone online.'),
      link_cta=_('Read The Manifesto'),
      link_url=url('mozorg.about.manifesto'),
      image_url='home/2018/billboard-healthy-internet.png',
      include_highres_image=True
  )}}
</div>
<div class="mzp-l-content">
  <section class="mzp-c-hero t-global">
    <div class="mzp-l-content">
      <div class="mzp-c-hero-body">
        <h1 class="mzp-c-hero-title">{{ _('A Global View') }}</h1>
        <div class="mzp-c-hero-desc">
          {% trans url=url('mozorg.contact.spaces.spaces-landing') %}
            With <a href="{{ url }}">offices all over the world</a>, we consider the internet from multiple cultures and contexts.
          {% endtrans %}
        </div>
      </div>
    </div>
  </section>
  <section class="c-cities">
    <a class="c-city c-city-sf" href="{{ url('mozorg.contact.spaces.san-francisco') }}">
        <h3 class="c-city-title">{{ _('San Francisco') }}</h3>
      {# L10n: The number inside the strong tag will be big, bold, and on its own line. Remove the strong tag if you need to put the number in the middle of the phrase  #}
      <p class="c-city-desc">{{ _('<strong>2000</strong> non-employee guests welcomed each year') }}</p>
    </a>
    <a class="c-city c-city-berlin" href="{{ url('mozorg.contact.spaces.berlin') }}">
      <h3 class="c-city-title">{{ _('Berlin') }}</h3>
      {# L10n: The number inside the strong tag will be big, bold, and on its own line. Remove the strong tag if you need to put the number in the middle of the phrase  #}
      <p class="c-city-desc">{{ _('<strong>500</strong> annual attendees to the Berlin speaker series') }} </p>
    </a>
    <a class="c-city c-city-taipei" href="{{ url('mozorg.contact.spaces.taipei') }}">
      <h3 class="c-city-title">{{ _('Taipei') }}</h3>
      {# L10n: The number inside the strong tag will be big, bold, and on its own line. Remove the strong tag if you need to put the number in the middle of the phrase  #}
      <p class="c-city-desc">{{ _('<strong>400</strong> collaborative visits with Mozilla employees each year.') }}</p>
    </a>
    <a class="c-city c-city-toronto" href="{{ url('mozorg.contact.spaces.toronto') }}">
      <h3 class="c-city-title">{{ _('Toronto') }}</h3>
      {# L10n: The number inside the strong tag will be big, bold, and on its own line. Remove the strong tag if you need to put the number in the middle of the phrase  #}
      <p class="c-city-desc">{{ _('<strong>800</strong> bottles of cold brew coffee consumed yearly.') }}</p>
    </a>
  </section>

  <div class="mzp-l-card-half">
    {{ card(
        class='mzp-c-card-medium',
        title=_('Work at Mozilla'),
        ga_title='Work at Mozilla',
        desc=_('Join a mission-driven organization that builds purpose-driven products.'),
        image_url='mozorg/about/careers.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-3-2',
        link_url='https://careers.mozilla.org',
        cta=_('Mozilla Careers')
    )}}
    {{ card(
        class='mzp-c-card-medium',
        title=_('How You Can Help'),
        ga_title='How You Can Help',
        desc=_('Your voice. Your code. Your support. There are so many ways to join the fight for a healthy internet.'),
        image_url='mozorg/about/involved.jpg',
        include_highres_image=True,
        aspect_ratio='mzp-has-aspect-3-2',
        link_url=url('mozorg.contribute.index'),
        cta=_('Get Involved')
    )}}
  </div>
</div>
<div class="mzp-l-content">
  <aside class="mzp-c-newsletter">
    <div class="mzp-c-newsletter-image">
      {{ high_res_img('home/2018/newsletter-graphic.png', {'alt': ''}) }}
    </div>

    <div class="newsletter-content">
      {% set newsletter_id = 'mozilla-foundation' if LANG.startswith('en-') else 'mozilla-and-you' %}
      {{ email_newsletter_form(
          newsletters=newsletter_id,
          title=_('Get The Mozilla Newsletter'),
          subtitle=_('Stay informed about the issues affecting the internet, and learn how you can get involved in protecting the world’s newest public resource.'),
          button_class='button-dark',
          submit_text=_('Subscribe'),
          protocol_component=True
      )}}
    </div>
  </aside>
</div>
{% endblock %}

{% block js %}
  {{ js_bundle('about-en') }}
{% endblock %}
